body {
    background-image: url("assets/wallpaper-rick.png");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    min-height: 100vh;
    margin: 0; 
}
